<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Harmonized DGIWG Web Map Service (DGIWG WMS) STANAG 6523 Ed.1 revision</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/dgiwg/wms</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-${ets-code}-${version}</local-name>
        <title>Harmonized DGIWG WMS 1.3 Conformance Test Suite - STANAG 6523 Ed.1 revision </title>
        <description>Checks Harmonized DGIWG WMS 1.3 implementations for conformance to  Harmonized DGIWG WMS 1.3 (DGIWG-112), STANAG 6523 Ed.1 revision.</description>
        <BasicConformanceClasses>
          <conformanceClass>Preconditions</conformanceClass>
          <conformanceClass>WMS Queryable</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 2</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 3</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 4</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 5</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 6</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 7</conformanceClass>

          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 9</conformanceClass>
          
          
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 12</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 13</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 14</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 15</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 16</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 17</conformanceClass>         
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 18</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 19</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 20</conformanceClass>
          <conformanceClass>DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 21</conformanceClass>

        </BasicConformanceClasses>
      </suite>
      <revision>
        <name>${project.version}</name>
        <status>Beta</status>
        <sources>
          <source>${ets-code}/${spec-version}/ctl</source>
        </sources>
        <webdir>${ets-code}/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
