<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="${ets-code}-${project.version}" verbose="0"
	configfailurepolicy="continue">
	<parameter name="wms" value="" />
	<parameter name="tes" value="" />

	<listeners>
		<listener
			class-name="de.latlon.ets.wms13.core.SuiteFixtureListener" />
	</listeners>

	<test name="Preconditions">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.Prerequisites" />
		</classes>
	</test>

	<!-- TODO: required in STANAG revision ? <test name="WMS Queryable"> <classes> 
		<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.QueryableWMS" /> </classes> 
		</test> -->
		
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 2">
		
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesKVPRequestSupported" />
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getfeatureinfo.GetFeatureInfoKVPRequestSupported" />
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.GetMapKVPRequestSupported" />

		</classes>
		
	</test>
 
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 3">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.interactive.GetCapabilitiesInEnglishLanguageTest" />
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getfeatureinfo.interactive.GetFeatureInfoInEnglishLanguageTest" />
		</classes>
	</test>
	 
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 4">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.GetMapOutputFormatTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 5">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesLayerCrsTest" />
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.GetMapLayerCrsTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 6">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getfeatureinfo.interactive.GetFeatureInfoExceptionInEnglishLanguageTest" />
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.interactive.GetMapExceptionInEnglishLanguageTest" />
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.interactive.GetCapabilitiesExceptionInEnglishLanguageTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 7">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesAbstractExists" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 8">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesContentTest" />

		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 9">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesAccessConstraintTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 10">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesAbstractTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 11">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesKeywordTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 12">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesLayerStyleTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 13">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesLegendExists" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 14">

		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesLegendFormatTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 15">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesLegendUrlTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 16">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesLayerScaleDenominatorsTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 17">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesFeatureListUrlTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 18">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesDataUrlTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 19">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesLayerAttributesTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 20">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.GetMapInImageExceptionsTest" />
		</classes>
	</test>
	<test
		name="DGIWG - Web Map Service 1.3 Harmonized Profile, Requirement 21">
		<classes>
			<class
				name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.GetMapBlankExceptionsTest" />
		</classes>
	</test>

	<!-- ================================================================================================================ -->
	<!-- USELESS TESTS : COMMENTED. -->
	<!-- DGIWG Requirement 13 : The MaxWidth and MaxHeight shall be greater 
		or equal to 800 pixels or omitted (meaning no constraint) -->
	<!-- REMOVED REQUIREMENT : -->
	<!-- <class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesMaxExtendTest" 
		/> -->

	<!-- REMOVED REQUIREMENT : A DGIWG Basic WMS server shall support transparency. -->
	<!--<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.GetMapTransparencyTest" 
		/> -->

	<!-- We do the requirement on layers, not on general doc.<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesStyleTest" 
		/> -->

	<!-- Req 3 from DGIWG revision (16 november 2015) : obsolete <class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.ConfiguredOutputFormatTest" 
		/> <class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesOutputFormatTest" 
		/> <class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getfeatureinfo.GetFeatureInfoOutputFormatTest" 
		/> -->


	<!--Req 8 obsolete <class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesRequestParameterTest" 
		/> -->

	<!-- Req 23 <class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.GetMapRequestParametersTest" 
		/> -->
	<!-- Req 27<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.GetMapMultiDimensionalDataTest" 
		/> -->
	<!-- Req 28<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getmap.GetMapDimensionsTest" 
		/> -->
	<!-- Req 29<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getfeatureinfo.GetFeatureInfoFeatureCountTest" 
		/> -->
	<!-- Req 30<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getfeatureinfo.GetFeatureInfoExceptionsTest" 
		/> -->
	<!-- Req 31<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getfeatureinfo.GetFeatureInfoInfoFormatTest" 
		/> -->
	<!-- Req 32<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getfeatureinfo.GetFeatureInfoUomTest" 
		/> -->


	<!-- ================================================================================================================ -->

	<!-- New requirements -->

	<!-- DGIWG Requirement 22 : If AcceptFormats and AcceptLanguages are provided 
		in the GetCapabilities operation, they shall be used as specified in Section 
		7.3 of [OGC WSCommon 2.0, 2010]. -->

	<!--<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesAcceptFormatsTest" 
		/> <class name="de.latlon.ets.wms13.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesAcceptLanguagesTest" 
		/> -->

	<!-- DGIWG Requirement 24 : If the WMS server responds with an exceptionfor 
		a request containing duplicated parameters with conflicting values, it shall 
		be valid according to the schema provided in Appendix E.2 of the WMS Standard 
		[OGC WMS 1.3, 2006], and SHALL use the exception code “DuplicatedParameterInRequest” 
		as value of the attribute /ogc:ServiceExceptionReport/ogc:ServiceException/@code -->
	<!--<class name="de.latlon.ets.wms13.core.dgiwg.testsuite.DuplicatedParametersException" 
		/> -->

</suite>